@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Palanquin+Dark:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111111;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
}

.container {
  overflow-x: hidden;
}

button,
li,
img {
  cursor: pointer;
}

nav,
.content {
  max-width: 85%;
  margin: 0 auto;
}

.dropdown {
  display: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.list {
  list-style-type: none;
}

.list-items {
  display: inline-block;
  margin-right: 70px;
  font-weight: 600;
}

select {
  border: none;
  background: none;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  font-weight: 600;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-img img {
  height: 70vh;
}

.content-info h4 {
  color: #ff3343;
  font-weight: 600;
  font-size: 22px;
}

.content-info h1 {
  font-size: 60px;
}

.para-1 {
  margin-top: 10px;
  font-size: 20px;
}

.btn-first {
  border: none;
  background-color: #c91b28;
  color: #ffffff;
  padding: 15px 30px;
  font-size: 17px;
  font-weight: 550;
  margin-top: 40px;
}

.section-2 {
  background: #181818;
  width: 50vw;
  padding: 100px 0;
  margin-bottom: 50px;
}

.content-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.cards-1 {
  display: flex;
  gap: 20px;
}

.card-img img {
  height: 70px;
}

.ui,
.product,
.branding {
  background: #1e1e1e;
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 50px;
}

.card-img img {
  height: 60px;
}

.heading-2 {
  font-size: 25px;
  font-weight: 600px;
}

.para-2 {
  font-size: 20px;
}

.para-2-1 {
  color: #ff3343;
  font-weight: 600;
}

.product {
  background: #c91b28;
}

.product-img {
  -webkit-filter: invert(100%);
}

.new {
  color: #ffffff;
}

.cards-2 {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  width: 61%;
  gap: 20px;
}

.info h1 {
  font-size: 100px;
  font-weight: 900;
  text-align: center;
  color: #ef4040;
}

.info p {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.right {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 20px;
}

.box {
  background: #1e1e1e;
  height: 125px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box h1 {
  color: #ef4040;
  font-size: 40px;
  padding-bottom: 10px;
}

.section-3 {
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.featured {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.title h1 {
  margin-bottom: 15px;
}
.view-all button {
  border: none;
  background-color: #c91b28;
  color: #ffffff;
  padding: 15px 30px;
  font-size: 17px;
  font-weight: 550;
}

.art-gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
}

.gallery-img img {
  width: 450px;
  height: 250px;
}

.gallery-img {
  background: #1e1e1e;
  padding: 70px 20px;
}

.gallery h4 {
  font-size: 20px;
  font-weight: 800;
  margin-top: 15px;
}

.gallery p {
  color: #ef4040;
  font-size: 15px;
  font-weight: 600;
  margin-top: 15px;
  text-transform: uppercase;
}

.contact-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1e1e1e;
  max-width: 74%;
  margin: 0 auto;
  padding: 70px 100px;
}

.contact-box-content h1 {
  font-size: 50px;
  margin-bottom: 15px;
}

.contact button {
  border: none;
  background-color: #c91b28;
  color: #ffffff;
  padding: 15px 40px;
  font-size: 17px;
  font-weight: 550;
}

.last {
  width: fit-content;
  margin: 50px auto;
  margin-top: 100px;
}
.last-item {
  display: inline-block;
  font-weight: 600;
  margin-right: 50px;
  font-size: 15px;
}

footer {
  padding: 30px 0;
  background-color: #1e1e1e;
}

.footer {
  display: flex;
  justify-content: space-around;

  max-width: 70%;
  align-items: center;
}

@media screen and (max-width: 1292px) {
  .contact-box-content h1 {
    font-size: 40px;
    margin-bottom: 15px;
  }

  .contact-box-content p {
    font-size: 15px;
  }

  .contact-box {
    max-width: 80%;
    gap: 50px;
  }
}

@media screen and (max-width: 1200px) {
  nav,
  .content {
    max-width: 100%;
  }

  nav {
    justify-content: space-around;
  }

  .list-items {
    display: inline-block;
    margin-left: 70px;
    margin-right: 0;
    font-weight: 600;
  }

  .content-img img {
    height: 55vh;
  }

  .content-info h4 {
    font-size: 20px;
  }

  .content-info h1 {
    font-size: 50px;
  }

  .para-1 {
    font-size: 17px;
  }

  .content {
    justify-content: space-around;
  }

  .cards-2 {
    justify-content: space-around;
  }

  .contact-box-content h1 {
    font-size: 35px;
    margin-bottom: 15px;
  }

  .contact-box-content p {
    font-size: 15px;
  }

  .contact-box {
    max-width: 90%;
    gap: 50px;
  }
  .list-items {
    font-size: 14px;
  }

  select {
    font-size: 14px;
  }

  .logo img {
    height: 40px;
  }
}

@media screen and (max-width: 950px) {
  nav {
    margin-top: 20px;
  }

  .list {
    display: none;
  }

  .dropdown {
    display: flex;
  }

  .dropdown option {
    color: #ffffff;
    background: #111111;
  }

  .logo img {
    height: 40px;
  }

  .content-info h4 {
    font-size: 17px;
  }

  .content-info h1 {
    font-size: 40px;
  }

  .para-1 {
    font-size: 14px;
  }

  .btn-first {
    padding: 15px 20px;
    font-size: 14px;
  }

  .ui,
  .product,
  .branding {
    width: 250px;
    height: 300px;
    padding-left: 35px;
  }
  .heading-2 {
    font-size: 20px;
    font-weight: 600px;
  }

  .para-2 {
    font-size: 16px;
  }

  .para-2-1 {
    font-size: 14px;
  }

  .cards-2 {
    align-items: center;
    justify-content: space-around;
    width: 80%;
  }
  .info h1 {
    font-size: 80px;
  }

  .info p {
    font-size: 22px;
  }

  .box {
    width: 250px;
  }

  .contact-box {
    padding: 40px 70px;
  }
  .contact-box-content h1 {
    font-size: 30px;
  }

  .title h1 {
    font-size: 25px;
  }

  .title p {
    font-size: 14px;
  }

  .view-all button {
    padding: 15px 25px;
    font-size: 15px;
  }
}

@media screen and (max-width: 800px) {
  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
  }
  nav {
    max-width: 95%;
    justify-content: space-between;
  }

  .content-info h4 {
    font-size: 17px;
  }

  .content-info h1 {
    font-size: 40px;
  }

  .para-1 {
    font-size: 14px;
    width: 98%;
  }

  .cards-1 {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .cards-2 {
    flex-direction: column;
  }

  .featured {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .lastlogo img {
    height: 40px;
  }

  .socicons img {
    height: 17px;
  }

  .last-item {
    font-size: 15px;
  }
  .last-item:nth-child(4) {
    margin-right: 0;
  }

  .contact-box {
    padding: 20px 50px;
  }

  .contact-box-content h1 {
    font-size: 22px;
  }

  .contact-box-content p {
    font-size: 10px;
  }

  .contact button {
    padding: 10px 25px;
    font-size: 15px;
  }

  .gallery-img img {
    width: 350px;
    height: 220px;
  }

  .gallery-img {
    padding: 40px 20px;
  }

  .gallery h4 {
    font-size: 17px;
  }

  .gallery p {
    font-size: 13px;
  }
}

@media screen and (max-width: 550px) {
  .section-2 {
    margin-top: 20px;
    padding: 50px 0;
  }

  .cards-2 {
    margin-top: 50px;
  }

  .right {
    grid-template-columns: 1fr;
  }

  .gallery-img img {
    width: 320px;
  }

  .gallery-img {
    padding: 30px 15px;
  }

  .contact-box {
    flex-direction: column;
    text-align: center;
    max-width: 90%;
    padding: 20px 30px;
  }

  .contact button {
    margin-top: -50px;
  }

  .footer {
    max-width: 100%;
  }

  .last {
    width: max-content;
  }

  .last-item {
    margin-right: 10px;
    font-size: 12px;
  }
}
